.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.clock {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(19, 158, 112, 0.801) 0%,
    rgba(19, 158, 112, 0.801) 50%,
    rgba(19, 167, 117, 0.61) 50%,
    rgba(19, 167, 117, 0.61) 100%
  );
  font-size: 4.5rem;
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.05em;
}
